<% content_for :meta_title, "Literature" %>
<% content_for :meta_description, "description" %>

<%= react_component("PageTitle", props: {title: @data.name}, prerender: false) %>

<div class="inner-container file-list">
  <% @data.literatures.each do |d, i| %>
    <%= react_component("FileDownload", props: {subject: d.subject, text: d.text}, prerender: false) %>
  <% end %>
</div>
