input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

input[type=text], select {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  border: none;
}

input[type=email], select {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
}

.contact_form {
  width: 570px;
  height: 492px;
  border-radius: 20px;
  background-color: #ebeff3;
}

.form_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact_input {
  width: 382px;
  border-radius: 4px;
  background-color: #ffffff;
  font-family: Lato;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: justify;
  color: #233d63;
}

.contact_submit {
  border-radius: 20px;
  width: 570px;
  height: 492px;
  background-color: #ebeff3;
}

.contact_submit_text {
  font-family: Nunito;
  font-size: 28px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

textarea {
  width: 382px;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: white;
  font-size: 18px;
  resize: none;
  border: none;
}

.contact_textarea {
  font-family: Lato;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: justify;
}

textarea::placeholder {
  font-family: Lato;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: justify;
  color: #233d63;

  position: absolute;
  left: 20px;
  top: 20px;
}

input::placeholder {
  color: #233d63;
}

.contact_name {
  margin-top: 52px !important;
}

.contact_button {
  width: 273px;
  height: 59px;
  font-family: Nunito;
  font-size: 28px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;

  border-radius: 20px;
  background-color: #b0be36;
  margin-top: 24px;
}
