.page-introduction-container {
  position: relative;

  .inner-container {
    display: flex;
    justify-content: space-between;

    .page-introduction {
      display: flex;
      justify-content: left;
      flex-direction: column;
      max-width: 600px;
      //margin-top: 60px;
      margin-right: 10%;

      h2 {
        font-family: Lato;
        font-weight: 600;
        font-size: 24px;
        color: #1a3a67;
        line-height: 30px;
        margin-top: 30px;
        text-transform: uppercase;
        margin-bottom: 5px;
      }

      h3 {
        width: 100%;
        color: #b0be36;
        font-size: 24px;
        line-height: 30px;
        font-family: Nunito;
        font-weight: 300;
        margin-bottom: 15px;
        margin-top:0px;
      }

      .separator {
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 0px;
      }

      .text {
        font-family: Lato, sans-serif;
        font-weight: 300;
        font-size: 18px;
        color: #233d63;
        line-height: 25px;
        margin-top: 30px;
      }
    }

    .side-container {
      display: flex;
      justify-content: flex-end;
      margin-top:10%;

      .side-image {

      }

      @media only screen and (max-width: 1235px) {
        display: none;
      }
    }
  }
}

