.contact_side_item {
  display: block;
  position: absolute;
  right: 0;
  top: 190px;
  width: 535px;
  height: 647px;
}

.customer_support_text {
  width: 241px;
  height: 104px;
  font-family: Lato;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: justify;
  color: #233d63;
}

.separator-test {
  clear: both;
  width: 146px;
  height: 4px;
  border-top: 2px;
  border-bottom: 2px;
  border-top-color: #1a3a67;
  border-bottom-color: #b0be36;
  border-left: 0px;
  border-right: 0px;
  border-style: solid;

  margin-top: 36px;
  margin-bottom: 50px;
}

.customer_title {
  width: 175px;
  height: 17px;
  font-family: Nunito;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #1a3a67;
  text-transform: uppercase;
}
.customer_title_bold {
  display: block;
  height: 50px;
  font-family: Lato;
  font-size: 28px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #213d63;
}

.contact_phone {
  color: #b0be36 !important ;
}

.contact_subtitle {
  display: block;
  width: 569px;
  height: 38px;
  font-family: Lato;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: justify;
  color: #233d63;

  margin-top: 30px;
  margin-bottom: 30px;
}

.contact_requisites {
  width: 241px;
  height: 104px;
  font-family: Lato;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #233d63;
}

.contact_requisites_title {
  font-weight: bold;
  display: block;
}

.customer_title_requisites {
  margin-top: 74px;
}

.contact_email {
  display: block;
  font-family: Lato;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: justify;
  color: #233d63;
}

@media only screen and (max-width: 1320px) {
  .side_item {
    display: none;
  }
}

.contact_top_corner {
  margin: 0 auto;
  transform: rotate(180deg);
  position: relative;
  top: 100px;
  display: block;
}
