$desktops: "(min-width: 1281px)";
$laptops: "(min-width: 1025px) and (max-width: 1280px)";
$tablets_portrait: "(min-width: 768px) and (max-width: 1024px)";
$tablets_landscape: "(min-width: 768px) and (max-width: 1024px) and (orientation: landscape)";
$smartphones_landscape: "(min-width: 481px) and (max-width: 767px)";
$smartphones_portrait: "(min-width: 320px) and (max-width: 480px)";
$smallest_devices: "(max-width: 320px)";

.readMore {
  //margin-top: 125px;
  //
  //@media #{$desktops}, #{$laptops},  #{$tablets_landscape} {
  //  margin-top: 125px;
  //}
  //
  //@media #{$tablets_portrait}{
  //  margin-top: 125px;
  //}
  //
  //@media #{$smartphones_landscape}{
  //  margin-top: 115px;
  //}
  //
  //@media #{$smartphones_portrait}{
  //  margin-top: 100px;
  //}
  //
  //@media #{$smallest_devices}{
  //  margin-top: 80px;
  //}

  a {
    text-decoration: none;

    &.button {
      font-size: 25px;
      color: #fff;
      font-family: 'Nunito', sans-serif;
      font-weight: 700;
      transition: background-color 0.2s ease-in-out;
      padding: 20px 60px 20px 60px;

      @media #{$desktops}, #{$laptops},  #{$tablets_landscape} {
        font-size: 25px;
        padding: 20px 60px 20px 60px;
      }

      @media #{$tablets_portrait}{
        font-size: 25px;
        padding: 20px 60px 20px 60px;
      }

      @media #{$smartphones_landscape}{
        font-size: 22px;
        padding: 20px 30px 20px 30px;
      }

      @media #{$smartphones_portrait}, #{$smallest_devices}{
        font-size: 17px;
        padding: 10px 15px 10px 15px;
      }
    }

    &.green {
      background: #b2c924;

      &:hover {
        background: #1965a0;

      }
    }

    &.blue {
      background: #1965a0;

      &:hover {
        background: #b2c924;

      }
    }

    &.rounded {
      border-radius: 20px;
    }
  }
}
