.separator{
  clear: both;
  width: 146px;
  height: 4px;
  border-top: 2px;
  border-bottom: 2px;
  border-top-color: #1a3a67;
  border-bottom-color: #b0be36;
  border-left: 0px;
  border-right: 0px;
  border-style: solid;
}
