/* Close Button */

[class*='close-'] {
  color: white;
  font: 28px/100% arial, sans-serif;
  position: absolute;
  right: 10px;
  text-decoration: none;
  top: 10px;
}

[class*='close-']:hover{
  color: gray;
}

.close-classic:after {
  content: 'X'; /* ANSI X letter */
}

.close-thin:after {
  content: '×'; /* UTF-8 symbol */
}

.close-thik:after {
  content: '✖'; /* UTF-8 symbol */
}

.mm-close {
    position: absolute;
    right: 10px;
    top: 4px;
    font: 18px/100% arial, sans-serif;
    display: inline-block;
    min-width: 80px;
    line-height: 31px;
    height: 30px;
    padding: 0 8px;
    border: 1px solid #202020;
    cursor: pointer;
    text-align: center;
    color: #dcdee0;
}
