ul {
  padding-inline-start: 0 !important;
}

.footer {
  background-color: #213d63;
  background-image: url("../../../../assets/images/footer-ball.png");
  background-repeat: no-repeat, repeat;
  background-position: right;

}

@media only screen and (max-width: 945px) {
  .footer_items {
    margin-left: 0 !important;
  }
}

.footer_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.footer_logo {
  margin-top: 68px;
  margin-bottom: 68px;
  justify-content: left;
  align-items: center;
  //margin-left: 9%;
}

.footer_title {
  font-family: Nunito;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #b0be36;
}

.footer_group {
  list-style-type: none;
  font-family: Nunito;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.footer_subtitle:hover {
  cursor: pointer;
  color: #b0be36;
  transition: all 0.5s ease 0s;
}

.green {
  display: inline-block;
  margin-right: 0.4em;
  color: #b0be36;
}

.footer_social {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
}

.footer_icon {
  margin-right: 11px;
  border-radius: 4px;
  padding: 12px;
  width: 28px;
  height: 24px;
  color: #213d63;
  background-color: #ffff;
}

.footer_icon:hover {
  background-color: #b0be36;
  transition: all 0.5s ease 0s;
}

.footer_copyright {
  display: block;
  margin-top: 133px;
  height: 82px;
  background-color: #1b3151;

  /* margin-top: 133px; */
}

.footer_copyright_text {
  font-family: Nunito;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #ffff;
  padding-top: 37px;
}

.footer_items {
  flex-direction: column;
  margin-left: 10%;
}

.first_box {
  width: 235px;
  margin-left: 0px;
}

@media only screen and (max-width: 550px) {
  .footer_container {
    flex-direction: column;
  }
}

//@media only screen and (max-width: 945px) {
//  .footer_container {
//    flex-direction: column !important;
//  }


