.testimonials-carousel{
  padding-top:100px;
  padding-bottom:100px;
  text-align: center;
  width:100%;

  .title{
    color: #b0be36;
    font-size: 40px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
  }

  .separator{
    margin-top:20px;
  }

  .user-card{

    .image{
      &.rounded{
        border-radius: 20px;
      }
    }

    .name{
      margin-top:20px;
      color: #213d63;
      font-size: 28px;
      line-height: 34px;
      font-family: 'Lato', sans-serif;
      font-weight: 700;
    }

    .position{
      color: #b0be36;
      font-size: 24px;
      line-height: 30px;
      font-family: 'Nunito', sans-serif;
      font-weight: 700;
    }

    .description{
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      color: #324e74;
      font-size:18px;
      width: 700px;
      margin: 15px auto;
    }
  }

  .text-selection-none{
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none;
  }
}

@media only screen and (max-width: 730px) {
  .description {
    width: 400px !important;
  }
}
